<!-- import home.css -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Solid-Enigma</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <!-- CSS only -->
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
  </head>

<!-- create a form with a search button which will search for anime names -->

    <body>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="search-box">
                
                <form method="get"> 
                <input
                    type="text"
                    class="form-control"
                    name="q"
                    placeholder="Search for anime"
                />
                <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </body>


<div class="table-users">
    <div class="header">{{  request.user   }}</div>
    
    <table cellspacing="0">
       <tr>
          <th>Picture</th>
          <th>Name</th>
          <th>Email</th>
          <th width="400">Comments</th>
       </tr>
       {% for anime in data %}
       <tr>
          <td><img src="{{anime.image}}" alt="" /></td>
          <td>{{anime.title}}</td>
          <td>{{anime.release_date}}</td>
          <td>{{anime.description}} </td>
       </tr>
 
       {% endfor %}
    </table>
 </div>