<!-- give a button -->

<head>
  <meta charset="UTF-8" />
  <title>Solid-Enigma</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
  />
  <!-- CSS only -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- only button -->
        <div class="search-box">
          <form method="get">
            <button type="submit" id="sample_data" onclick="handleClick()" class="btn btn-primary">
              Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    function handleClick() {
      const xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("result").innerHTML = this.responseText;
        }
      };
      xhttp.open("POST", "{% url 'sample' %}", true);
      xhttp.setRequestHeader(
        "Content-type",
        "application/x-www-form-urlencoded"
      );
    //   xhttp.send("name=John&age=30"); // Example data to send
    }
  </script>
</body>
